@charset "utf-8";

.tablaForm { 
    width:100%; 
}

.tablaFormLectura td {
    border-top: none !important;
    border-bottom: none !important;
}

.tablaForm td {
    padding:3px 8px 3px 8px;
    font-size:13px; 
}

.tablaForm th {
    padding:3px 8px 3px 8px;
    font-size:13px; 
}